
#home-logo {
  margin-top: 24px;
}

#home-welcome {
  margin-bottom: 0.6em;
  font-size: 36px;
  font-weight: 700;
}

#home-qr {
  margin-bottom: 36px;
}

.home-text {
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}
