
.print-container {
  margin-top: 200px;
}

.print-title {
  font-size: 18px;
  text-align: center;
}

.printing {
  margin-top: 18px;
}

.print-filename {
  margin-top: 12px;
  text-align: center;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
}

.print-page-preview {
  width: 250px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 12.5px;
  background-color: #ddd;
  border: 2.5px solid #808080;
  border-radius: 30px;
  text-align: center;
}

.print-page-icon {
  text-align: center;
}

#print-gif {
  width: 250px;
}
