
* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("./assets/background.jpg");
  background-size: cover;
}

.link {
  text-decoration: underline;
}
